<app-header title="Historial de credito" [isModal]="true" />

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{credito.cliente.nombre | titlecase}}</ion-card-title>
      <ion-card-subtitle>{{credito.cliente.alias | titlecase}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>

        <ion-row>
          <ion-col size="4">
            <ion-text>Valor Prestado</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ credito.valor_credito | currency:'USD':'symbol':'':'en' }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-text>Valor Cuota</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ credito.valor_cuota | currency:'USD':'symbol':'':'en' }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-text>Abonos</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ credito.abonos | currency:'USD':'symbol':'':'en' }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-text>Saldo</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ credito.saldo | currency:'USD':'symbol':'':'en' }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="credito.ruta.nombre">
          <ion-col size="4">
            <ion-text>Ruta</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ credito.ruta.nombre| titlecase }}</ion-text>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="credito.pagos.length > 0">
    <ion-item *ngFor="let pago of credito.pagos">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>{{pago.valor | currency:'USD':'symbol':'':'en' }}</ion-col>
            <ion-col>{{pago.fecha}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>