<app-header title="Gastos" [showMenu]="true" />

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>

    <ion-item>
      <select-ruta (onEmitRuta)="onChangeRuta($event)" />
    </ion-item>

    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal #modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime mode="ios" id="datetime" #datetime presentation="date" (ionChange)="onChangeDay($event)"
            locale="es-GT">
            <span slot="title">Selecciona una fecha</span>
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="gastos.length > 0" class="ion-margin-top">

    <ion-item 
      *ngFor="let gasto of gastos"
      [button]="sePuedeEditar(gasto.fecha)"
      [detail]="sePuedeEditar(gasto.fecha)"
      (click)="editGasto(gasto)">

      <ion-label>
        <ion-text><h3><strong>Valor:</strong> {{ gasto.valor | currency:'USD':'symbol':'':'en' }}</h3></ion-text>
        <ion-text><h3><strong>Fecha:</strong> {{ gasto.fecha | date:'fullDate' }}</h3></ion-text>
        <ion-text><h3><strong>Concepto:</strong> {{ gasto.gasto.gasto| titlecase}}</h3></ion-text>
        <ion-text *ngIf="!!gasto.nota"><h3><strong>Detalle:</strong> {{ gasto.nota | lowercase}}</h3></ion-text>
      </ion-label>
      
    </ion-item>

  </ion-list>

</ion-content>