<app-header 
  [title]="ruta ? 'Editar Ruta': 'Agregar Ruta'"
  [isModal]="true"
/>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <custom-input 
      [control]="form.controls.nombre"
      type="text"
      label="Nombre"
      autocomplete="off"
    />

    <custom-input
      [control]="form.controls.pais"
      type="text"
      label="Pais"
      autocomplete="off"
    />

    <custom-input
      [control]="form.controls.estado"
      type="text"
      label="Estado"
      autocomplete="off"
    />

    <custom-input
      [control]="form.controls.ciudad"
      type="text"
      label="Ciudad"
      autocomplete="off"
    />

    <!-- <ion-item class="custom-input" lines="none">
      <ion-toggle
        [enableOnOffLabels]="true"
        formControlName="ingresar_gastos_cobrador"
      >Permitir que el cobrador ingrese gastos</ion-toggle> 
    </ion-item> -->

    <ion-item class="custom-input" lines="none">
      <ion-toggle
        [enableOnOffLabels]="true"
        formControlName="have_login_falso"
      >Inicio con calculadora</ion-toggle> 
    </ion-item>

    <custom-input
      *ngIf="form.controls.have_login_falso.value" 
      [control]="form.controls.senha"
      type="text"
      label="Seña de la calculadora"
      autocomplete="off"
    />

    <ion-button mode="ios" type="submit" expand="block" [disabled]="form.invalid">
      {{ruta ? 'Actualizar Ruta' : 'Agregar Ruta'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>

</ion-content>